@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
  font-family: 'Helvetica', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  /* border-bottom: 10px solid black; */
}

.textWhite{
  color: white;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.time {
  background-color: rgb(233, 231, 231);
  border: black;
}

.eventDefault {
  background-color: rgb(96, 87, 138);
  border: black;
  text-align: center;
}

.eventPast {
  background-color: rgb(235, 63, 63);
  border: black;
  text-align: center;
}

.eventPresent {
  background-color: rgb(156, 156, 156);
  border: black;
  text-align: center;
}

.eventFuture {
  background-color: rgb(104, 207, 121);
  border: black;
  text-align: center;
}

.save {
  background-color: rgb(233, 231, 231);
  border: black;
}







.password-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.password-card-body {
  min-height: 100px;
}

.password-card-footer {
  text-align: center;
}

.password-card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.password-card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.password-btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* button[disabled] {
  cursor: default;
  background: #c0c7cf;
} */

.password-float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}


.darkblue {
  color: rgb(43, 43, 43);
}

.noDecoration, a:link, a:visited {
  text-decoration: none;
}

.zoom {
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

.jumbotronSmall {
  padding: 30px;
  text-align: center;
  background-color: transparent;
}

.displayMedium {
  font-size: 2rem;
  font-weight: 300;
}